Pre Entrega perteneciente a Flavia Alvarez


Se debem realizar los siguientes puntos:

Etapa 1: Recopilación y Preparación de Datos (Clases 1 a 4)
1. Crear un documento en Google Colaboratory y cargar los sets de datos
como DataFrames.
4. Introducción a Pandas: realizar un análisis exploratorio inicial de los
DataFrames.
5. Calidad de Datos: Identificar valores nulos y duplicados en los conjuntos de
datos. Documentar el estado inicial de los datos.


Etapa 2: Preprocesamiento y Limpieza de Datos (Clases 5 a 8)

1. Limpieza de Datos: Limpiar el conjunto de datos eliminando duplicados y
caracteres no deseados. Documentar el proceso y los resultados.
2. Transformación de Datos: Aplicar filtros y transformaciones para crear una
tabla de ventas que muestre solo los productos con alto rendimiento

##  Cargar los sets de datos como DataFrames

In [ ]:
# Entorno
import pandas as pd;
import numpy as np;

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import os;
os.listdir("/content/drive/MyDrive/Colab Notebooks/2025 Análisis datos con Python/PreEntrega - Flavia Alvarez/")

['ventas.csv',
 'clientes.csv',
 'marketing.csv',
 'Pre_Entrega_Flavia_Alvarez.ipynb',
 'ventas_limpio.csv',
 'clientes_limpio.csv',
 'marketing_limpio.csv']

In [ ]:
#defino una funcion para cargar los csv
def cargar_datos(path):
  return pd.read_csv(path)

In [ ]:
#importo archivos
ventas = cargar_datos("/content/drive/MyDrive/Colab Notebooks/2025 Análisis datos con Python/PreEntrega - Flavia Alvarez/ventas.csv");
clientes = cargar_datos("/content/drive/MyDrive/Colab Notebooks/2025 Análisis datos con Python/PreEntrega - Flavia Alvarez/clientes.csv");
marketing = cargar_datos("/content/drive/MyDrive/Colab Notebooks/2025 Análisis datos con Python/PreEntrega - Flavia Alvarez/marketing.csv");

## Analisis exploratorio inicial, ademas de duplicados y nulos

In [ ]:
def analisis_dupl_nulos(df,nombre_a_mostrar, clave):
  print(f"\n \n ****** Analisis de nulos en {nombre_a_mostrar}*********")

  print("\nCantidad de nulos:\n",df.isnull().sum())

  print(f"\n \n ****** Analisis de duplicados en {nombre_a_mostrar} *********")
  print("\nCantidad de duplicados (fila total): ",df.duplicated(keep=False).sum())

  if  (clave in df.columns):
    cant_duplicados = df.duplicated(subset=clave, keep=False).sum()
    print(f"\nCantidad de duplicados en columna {clave}: ",cant_duplicados);

    if (cant_duplicados > 0):
      duplicados_ordenados = (
                  df[df[clave].duplicated(keep=False)][clave]
                  .value_counts()                # Cuenta cuántas veces aparece cada valor
                  .sort_values(ascending=False)   # Ordena de mayor a menor (más duplicados arriba)
              )

      display(duplicados_ordenados.head(10))
  elif (clave):
    print(f"\nNo se encontro columna {clave} en el dataset")

  print("\n\nCantidad de valores unicos por columna")
  print(df.nunique())
  return;

In [ ]:
# Esta funcion es para realizar un analisis del dataset

def analisis_datos(df, nombre_a_mostrar, clave):
  print(f"\n******* Analisis inicial de {nombre_a_mostrar} *******\n")
  print("Tamaño del dataset:", df.shape)
  print("\nInformacion basica de las columnas del dataset:\n")
  print(df.info())
  print("\nPrimeras filas del dataset")
  print(df.head(5))
  print("\n\n ****** Descripcion del dataset: ******\n")
  print(df.describe())
  analisis_dupl_nulos(df, nombre_a_mostrar, clave)


  return;

In [ ]:
analisis_datos(ventas,"Ventas", "id_venta");

******* Analisis inicial de Ventas *******

Tamaño del dataset: (3035, 6)

Informacion basica de las columnas del dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_venta     3035 non-null   int64
 1   producto     3035 non-null   object
 2   precio       3033 non-null   object
 3   cantidad     3033 non-null   float64
 4   fecha_venta  3035 non-null   object
 5   categoria    3035 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 142.4+ KB
None

Primeras filas del dataset
   id_venta           producto   precio  cantidad fecha_venta  \
0       792  Cuadro decorativo   $69.94       5.0  02/01/2024
1       811    Lámpara de mesa  $105.10       5.0  02/01/2024
2      1156           Secadora   $97.96       3.0  02/01/2024
3      1372           Heladera  $114.35       8.0  02/01/2024
4      1546           Secadora  $106.21       4.0  02/01/2024

           categoria
0         Decoración
1         Decoración
2  Electrodomésticos
3  Electrodomésticos
4  Electrodomésticos


 ****** Descripcion del dataset: ******

          id_venta     cantidad
count  3035.000000  3033.000000
mean   1499.851400     6.496538
std     866.465379     3.457250
min       1.000000     1.000000
25%     748.500000     3.000000
50%    1502.000000     7.000000
75%    2249.500000     9.000000
max    3000.000000    12.000000


 ****** Analisis de nulos en Ventas*********

Cantidad de nulos:
 id_venta       0
producto       0
precio         2
cantidad       2
fecha_venta    0
categoria      0
dtype: int64


 ****** Analisis de duplicados en Ventas *********

Cantidad de duplicados (fila total):  70

Cantidad de duplicados en columna id_venta:  70

id_venta
56      2
421     2
424     2
1868    2
2545    2
2778    2
145     2
300     2
439     2
906     2
Name: count, dtype: int64

Cantidad de valores unicos por columna
id_venta       3000
producto         30
precio         2590
cantidad         12
fecha_venta     364
categoria         3
dtype: int64

In [ ]:
analisis_datos(clientes,"Clientes", "id_cliente");

******* Analisis inicial de Clientes *******

Tamaño del dataset: (567, 5)

Informacion basica de las columnas del dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_cliente  567 non-null    int64
 1   nombre      567 non-null    object
 2   edad        567 non-null    int64
 3   ciudad      567 non-null    object
 4   ingresos    567 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 22.3+ KB
None

Primeras filas del dataset
   id_cliente               nombre  edad         ciudad  ingresos
0           1      Aloysia Screase    44  Mar del Plata  42294.68
1           2  Kristina Scaplehorn    25        Posadas  24735.04
2           3       Filip Castagne    50    Resistencia  35744.85
3           4          Liuka Luard    39   Bahía Blanca  27647.96
4           5        Dore Cockshtt    28        Rosario  28245.65


 ****** Descripcion del dataset: ******

       id_cliente        edad      ingresos
count  567.000000  567.000000    567.000000
mean   284.000000   37.940035  34668.739012
std    163.823075   10.202885  12974.531446
min      1.000000   20.000000    170.290000
25%    142.500000   30.000000  26015.240000
50%    284.000000   37.000000  35066.830000
75%    425.500000   43.000000  42457.100000
max    567.000000   81.000000  88053.010000


 ****** Analisis de nulos en Clientes*********

Cantidad de nulos:
 id_cliente    0
nombre        0
edad          0
ciudad        0
ingresos      0
dtype: int64


 ****** Analisis de duplicados en Clientes *********

Cantidad de duplicados (fila total):  0

Cantidad de duplicados en columna id_cliente:  0


Cantidad de valores unicos por columna
id_cliente    567
nombre        567
edad           49
ciudad         12
ingresos      547
dtype: int64

In [ ]:
analisis_datos(marketing,"Marketing", "id_campanha");

******* Analisis inicial de Marketing *******

Tamaño del dataset: (90, 6)

Informacion basica de las columnas del dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_campanha   90 non-null     int64
 1   producto      90 non-null     object
 2   canal         90 non-null     object
 3   costo         90 non-null     float64
 4   fecha_inicio  90 non-null     object
 5   fecha_fin     90 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.3+ KB
None

Primeras filas del dataset
   id_campanha         producto  canal  costo fecha_inicio   fecha_fin
0           74  Adorno de pared     TV   4.81   20/03/2024  03/05/2024
1           12           Tablet   RRSS   3.40   26/03/2024  13/05/2024
2           32  Lámpara de mesa  Email   5.54   28/03/2024  20/04/2024
3           21       Smartphone   RRSS   6.37   29/03/2024  16/05/2024
4           58         Alfombra  Email   4.25   31/03/2024  05/05/2024


 ****** Descripcion del dataset: ******

       id_campanha      costo
count    90.000000  90.000000
mean     45.500000   4.928667
std      26.124701   0.947750
min       1.000000   2.950000
25%      23.250000   4.372500
50%      45.500000   4.900000
75%      67.750000   5.562500
max      90.000000   7.390000


 ****** Analisis de nulos en Marketing*********

Cantidad de nulos:
 id_campanha     0
producto        0
canal           0
costo           0
fecha_inicio    0
fecha_fin       0
dtype: int64


 ****** Analisis de duplicados en Marketing *********

Cantidad de duplicados (fila total):  0

Cantidad de duplicados en columna id_campanha:  0


Cantidad de valores unicos por columna
id_campanha     90
producto        30
canal            3
costo           81
fecha_inicio    78
fecha_fin       78
dtype: int64

## Limpieza del dataset

1. Eliminamos duplicados.
2. Normalizamos texto en columnas object (trim + capitalización simple).
3. Convertimos fechas a fechas reales
4. Convertimos precio y cantidad a numéricos si existen.
5. Guardamos CSV limpios.

In [ ]:
#Se crea copia de los dataset para trabajar
ventas_df = ventas.copy();
clientes_df = clientes.copy();
marketing_df = marketing.copy();

In [ ]:
# 1. Eliminar duplicados
ventas_df.drop_duplicates(inplace=True)
clientes_df.drop_duplicates(inplace=True)
marketing_df.drop_duplicates(inplace=True)

In [ ]:
#solo analizamos ventas pues era el unico que tenia duplicados
analisis_dupl_nulos(ventas_df,"Ventas", "id_venta");

 ****** Analisis de nulos en Ventas*********

Cantidad de nulos:
 id_venta       0
producto       0
precio         2
cantidad       2
fecha_venta    0
categoria      0
dtype: int64


 ****** Analisis de duplicados en Ventas *********

Cantidad de duplicados (fila total):  0

Cantidad de duplicados en columna id_venta:  0


Cantidad de valores unicos por columna
id_venta       3000
producto         30
precio         2590
cantidad         12
fecha_venta     364
categoria         3
dtype: int64

In [ ]:
# 2.Normalizamos texto en columnas object (trim + capitalización simple).

def formatear_texto(df):
  columnas = df.select_dtypes(include=['object']).columns
  print(columnas)
  ptron_caracteres_raros = r"[\u200b\t\r\n]"
  ptron_nblancos = r" +"
  df[columnas] = df[columnas].apply(lambda x: x.astype(str)
      .str.strip()
      .str.title()
      .str.replace(ptron_caracteres_raros,'',regex =True)
      .str.replace(ptron_nblancos,' ',regex =True))
  return df;

In [ ]:
formatear_texto(ventas_df);
formatear_texto(clientes_df);
formatear_texto(marketing_df);

Index(['producto', 'precio', 'fecha_venta', 'categoria'], dtype='object')
Index(['nombre', 'ciudad'], dtype='object')
Index(['producto', 'canal', 'fecha_inicio', 'fecha_fin'], dtype='object')

In [ ]:
# 3. Formateo de fechas

#filtrar columnas que se llamen fecha
def formatear_fechas(df):
    columnas = df.columns.tolist()
    columnas_fechas = [col for col in columnas if 'fecha' in col.lower()]
    df[columnas_fechas] = df[columnas_fechas].apply(pd.to_datetime, errors='coerce', dayfirst=True)
    return

In [ ]:
formatear_fechas(ventas_df);
formatear_fechas(clientes_df);
formatear_fechas(marketing_df);

In [ ]:
# formatear precios o costo
def formatear_precios(df):
  columnas = df.columns.tolist()
  print("Columnas: ",columnas)
  columnas_numericas = [col for col in columnas if 'precio' in col.lower() or 'costo' in col.lower() or 'ingresos' in col.lower()]
  print("Columnas a modificar: ",columnas_numericas)
  df[columnas_numericas] = df[columnas_numericas].apply(lambda x: x.astype(str)
                            .str.replace('$','')
                            .str.replace(',','')
                            .str.strip()
                            )

  #print(df[columnas_numericas].head(10))
  df[columnas_numericas] = df[columnas_numericas].apply(pd.to_numeric, errors='coerce')
  return ;

In [ ]:
formatear_precios(ventas_df);
formatear_precios(clientes_df);
formatear_precios(marketing_df);

Columnas:  ['id_venta', 'producto', 'precio', 'cantidad', 'fecha_venta', 'categoria']
Columnas a modificar:  ['precio']
Columnas:  ['id_cliente', 'nombre', 'edad', 'ciudad', 'ingresos']
Columnas a modificar:  ['ingresos']
Columnas:  ['id_campanha', 'producto', 'canal', 'costo', 'fecha_inicio', 'fecha_fin']
Columnas a modificar:  ['costo']

In [ ]:
# formateo campos cantidades
def formatear_enteros(df):
  columnas = df.columns.tolist()
  print("Columnas: ",columnas)
  columnas_numericas = [col for col in columnas if 'cantidad' in col.lower()]
  print("Columnas a modificar: ",columnas_numericas)
  df[columnas_numericas] = df[columnas_numericas].apply(pd.to_numeric, errors='coerce').astype("Int64")
  return;

In [ ]:
formatear_enteros (ventas_df);
formatear_enteros (clientes_df);
formatear_enteros (marketing_df);

Columnas:  ['id_venta', 'producto', 'precio', 'cantidad', 'fecha_venta', 'categoria']
Columnas a modificar:  ['cantidad']
Columnas:  ['id_cliente', 'nombre', 'edad', 'ciudad', 'ingresos']
Columnas a modificar:  []
Columnas:  ['id_campanha', 'producto', 'canal', 'costo', 'fecha_inicio', 'fecha_fin']
Columnas a modificar:  []

In [ ]:
analisis_datos(ventas_df,"Ventas", "id_venta");
analisis_datos(clientes_df,"Clientes", "id_cliente");
analisis_datos(marketing_df,"Marketing", "id_campanha");

******* Analisis inicial de Ventas *******

Tamaño del dataset: (3000, 6)

Informacion basica de las columnas del dataset:

<class 'pandas.core.frame.DataFrame'>
Index: 3000 entries, 0 to 3034
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_venta     3000 non-null   int64
 1   producto     3000 non-null   object
 2   precio       2998 non-null   float64
 3   cantidad     2998 non-null   Int64
 4   fecha_venta  3000 non-null   datetime64[ns]
 5   categoria    3000 non-null   object
dtypes: Int64(1), datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 167.0+ KB
None

Primeras filas del dataset
   id_venta           producto  precio  cantidad fecha_venta  \
0       792  Cuadro Decorativo   69.94         5  2024-01-02
1       811    Lámpara De Mesa  105.10         5  2024-01-02
2      1156           Secadora   97.96         3  2024-01-02
3      1372           Heladera  114.35         8  2024-01-02
4      1546           Secadora  106.21         4  2024-01-02

           categoria
0         Decoración
1         Decoración
2  Electrodomésticos
3  Electrodomésticos
4  Electrodomésticos


 ****** Descripcion del dataset: ******

          id_venta       precio  cantidad          fecha_venta
count  3000.000000  2998.000000    2998.0                 3000
mean   1500.500000    75.291318  6.502668  2024-06-26 19:21:36
min       1.000000    26.000000       1.0  2024-01-02 00:00:00
25%     750.750000    50.030000       3.0  2024-03-27 00:00:00
50%    1500.500000    75.205000       7.0  2024-06-24 00:00:00
75%    2250.250000   100.067500       9.0  2024-09-27 00:00:00
max    3000.000000   124.970000      12.0  2024-12-30 00:00:00
std     866.169729    28.736008  3.455107                  NaN


 ****** Analisis de nulos en Ventas*********

Cantidad de nulos:
 id_venta       0
producto       0
precio         2
cantidad       2
fecha_venta    0
categoria      0
dtype: int64


 ****** Analisis de duplicados en Ventas *********

Cantidad de duplicados (fila total):  0

Cantidad de duplicados en columna id_venta:  0


Cantidad de valores unicos por columna
id_venta       3000
producto         30
precio         2590
cantidad         12
fecha_venta     364
categoria         3
dtype: int64

******* Analisis inicial de Clientes *******

Tamaño del dataset: (567, 5)

Informacion basica de las columnas del dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_cliente  567 non-null    int64
 1   nombre      567 non-null    object
 2   edad        567 non-null    int64
 3   ciudad      567 non-null    object
 4   ingresos    567 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 22.3+ KB
None

Primeras filas del dataset
   id_cliente               nombre  edad         ciudad  ingresos
0           1      Aloysia Screase    44  Mar Del Plata  42294.68
1           2  Kristina Scaplehorn    25        Posadas  24735.04
2           3       Filip Castagne    50    Resistencia  35744.85
3           4          Liuka Luard    39   Bahía Blanca  27647.96
4           5        Dore Cockshtt    28        Rosario  28245.65


 ****** Descripcion del dataset: ******

       id_cliente        edad      ingresos
count  567.000000  567.000000    567.000000
mean   284.000000   37.940035  34668.739012
std    163.823075   10.202885  12974.531446
min      1.000000   20.000000    170.290000
25%    142.500000   30.000000  26015.240000
50%    284.000000   37.000000  35066.830000
75%    425.500000   43.000000  42457.100000
max    567.000000   81.000000  88053.010000


 ****** Analisis de nulos en Clientes*********

Cantidad de nulos:
 id_cliente    0
nombre        0
edad          0
ciudad        0
ingresos      0
dtype: int64


 ****** Analisis de duplicados en Clientes *********

Cantidad de duplicados (fila total):  0

Cantidad de duplicados en columna id_cliente:  0


Cantidad de valores unicos por columna
id_cliente    567
nombre        567
edad           49
ciudad         12
ingresos      547
dtype: int64

******* Analisis inicial de Marketing *******

Tamaño del dataset: (90, 6)

Informacion basica de las columnas del dataset:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_campanha   90 non-null     int64
 1   producto      90 non-null     object
 2   canal         90 non-null     object
 3   costo         90 non-null     float64
 4   fecha_inicio  90 non-null     datetime64[ns]
 5   fecha_fin     90 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(2)
memory usage: 4.3+ KB
None

Primeras filas del dataset
   id_campanha         producto  canal  costo fecha_inicio  fecha_fin
0           74  Adorno De Pared     Tv   4.81   2024-03-20 2024-05-03
1           12           Tablet   Rrss   3.40   2024-03-26 2024-05-13
2           32  Lámpara De Mesa  Email   5.54   2024-03-28 2024-04-20
3           21       Smartphone   Rrss   6.37   2024-03-29 2024-05-16
4           58         Alfombra  Email   4.25   2024-03-31 2024-05-05


 ****** Descripcion del dataset: ******

       id_campanha      costo         fecha_inicio            fecha_fin
count    90.000000  90.000000                   90                   90
mean     45.500000   4.928667  2024-08-03 16:48:00  2024-09-10 09:04:00
min       1.000000   2.950000  2024-03-20 00:00:00  2024-04-20 00:00:00
25%      23.250000   4.372500  2024-05-31 00:00:00  2024-07-12 18:00:00
50%      45.500000   4.900000  2024-08-02 12:00:00  2024-09-12 12:00:00
75%      67.750000   5.562500  2024-10-02 12:00:00  2024-11-11 18:00:00
max      90.000000   7.390000  2024-12-29 00:00:00  2025-02-14 00:00:00
std      26.124701   0.947750                  NaN                  NaN


 ****** Analisis de nulos en Marketing*********

Cantidad de nulos:
 id_campanha     0
producto        0
canal           0
costo           0
fecha_inicio    0
fecha_fin       0
dtype: int64


 ****** Analisis de duplicados en Marketing *********

Cantidad de duplicados (fila total):  0

Cantidad de duplicados en columna id_campanha:  0


Cantidad de valores unicos por columna
id_campanha     90
producto        30
canal            3
costo           81
fecha_inicio    78
fecha_fin       78
dtype: int64

In [ ]:
#grabar a csv
ventas_df.to_csv("/content/drive/MyDrive/Colab Notebooks/2025 Análisis datos con Python/PreEntrega - Flavia Alvarez/ventas_limpio.csv", index=False)
clientes_df.to_csv("/content/drive/MyDrive/Colab Notebooks/2025 Análisis datos con Python/PreEntrega - Flavia Alvarez/clientes_limpio.csv", index=False)
marketing_df.to_csv("/content/drive/MyDrive/Colab Notebooks/2025 Análisis datos con Python/PreEntrega - Flavia Alvarez/marketing_limpio.csv", index=False)

os.listdir("/content/drive/MyDrive/Colab Notebooks/2025 Análisis datos con Python/PreEntrega - Flavia Alvarez/")

['ventas.csv',
 'clientes.csv',
 'marketing.csv',
 'Pre_Entrega_Flavia_Alvarez.ipynb',
 'ventas_limpio.csv',
 'clientes_limpio.csv',
 'marketing_limpio.csv']

 ## Transformación de Datos: Aplicar filtros y transformaciones para crear una tabla de ventas que muestre solo los productos con alto rendimiento

In [ ]:
#Creo una tabla de ventas con los de mayor rendimiento
ventas_calc = ventas_df.assign(total_venta = ventas_df['cantidad']*ventas_df['precio'] )


ventas_totales = (ventas_calc
                  .groupby( by = 'producto',
                                     dropna= False,
                                      as_index= False
                                      )
                  .agg(imp_total_ventas = ("total_venta",'sum'),
                       cant_unidades_vendidas = ("cantidad", 'sum'),
                       cant_de_ventas = ("cantidad", 'count')
                       )

)

print(ventas_totales.head(10))

                 producto  imp_total_ventas  cant_unidades_vendidas  \
0         Adorno De Pared          48093.49                     633
1                Alfombra          44773.06                     615
2              Aspiradora          50085.86                     651
3             Auriculares          74175.58                     958
4                Batidora           50979.2                     672
5                Cafetera          59607.31                     765
6              Candelabro           11128.8                     160
7  Consola De Videojuegos          46174.41                     623
8                Cortinas          44865.03                     610
9       Cuadro Decorativo           54297.6                     726

   cant_de_ventas
0             100
1             100
2             100
3             143
4             100
5             117
6              24
7              99
8             100
9             100

In [ ]:
#Calcular el percentile 80%
ventas_percentile = ventas_totales['imp_total_ventas'].quantile(q=0.8, interpolation = "linear").round(2)
print(ventas_percentile)

52518.85

In [ ]:
#filtrar los que superan el percentile
ventas_filtradas = ventas_totales[ventas_totales['imp_total_ventas'] > ventas_percentile]
print(f"Los ventas con monto de venta mayor a {ventas_percentile} son: \n")
print(ventas_filtradas.sort_values(by='imp_total_ventas', ascending=False))

Los ventas con monto de venta mayor a 52518.85 son:

             producto  imp_total_ventas  cant_unidades_vendidas  \
19    Lámpara De Mesa          82276.38                    1112
3         Auriculares          74175.58                     958
20         Microondas          72562.89                     912
5            Cafetera          59607.31                     765
9   Cuadro Decorativo           54297.6                     726
26         Smartphone          54132.44                     665

    cant_de_ventas
19             176
3              143
20             135
5              117
9              100
26             101